<a href="https://colab.research.google.com/github/hwas2/Python_study/blob/master/2%EC%9D%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬의 탄생

In [ ]:
a = 3
b = 4
print(a+b)

7

- 파이썬에서는 파일화 시킬 때 반드시 print() 함수를 써줘야 함

print()
- 함수 안에 있는 내용을 출력해줌

In [ ]:
print("life" "is" "short")

lifeisshort

In [ ]:
print("life", "is", "short")

life is short

In [ ]:
print("life is short")

life is short

input()
- 입력값을 받음

예제

In [ ]:
a = input("a 값을 입력해주세요 : ")

a 값을 입력해주세요 : 20

In [ ]:
print(a)

20

In [ ]:
b = input(a)

2030

In [ ]:
print(b)

30

주식 예제

In [ ]:
identity = '지구인' #정체1
number_of_legs = 10 #다리의 수
print(identity)
print(number_of_legs)
print("안녕")
#print("너는 누구니?")

지구인
10
안녕

In [ ]:
"""
주석 내용입니다
"""
print("hello")

hello

변수 예제

In [ ]:
identity = "외계인"

In [ ]:
print(identity)

외계인

- 똑같은 이름의 변수에 새로운 값을 저장할 경우 변수의 값이 변경X, 새로운 변수 생성O
  - 기존 변수의 값을 불러 올 수는 없음

변수 생성시 특징
- 변수명의 첫문자는 영문자 또는 언더바('_')로 시작
- 예약어 사용 불가

변수 생성 특징 예제

In [ ]:
 1_unit = 1 #변수명이 숫자로 시작하는 경우

SyntaxError: invalid decimal literal (2262027833.py, line 1)

In [ ]:
_unit = 1 #변수명이 언더바로 시작하는 경우

In [ ]:
@unit =1 #변수명

SyntaxError: invalid syntax (1457880563.py, line 1)

In [ ]:
and =1 #변수명 예약어 사용 불가

SyntaxError: invalid syntax (3574790348.py, line 1)

In [ ]:
for=1 #변수명 예약어 사용 불가

SyntaxError: invalid syntax (3123844783.py, line 1)

변수 제거 예제

In [ ]:
a = 3
b = 4

In [ ]:
print(a)
print(b)

3
4

In [ ]:
del(a)
del(b)

In [ ]:
print(a)
print(b)

NameError: name 'a' is not defined

- 변수 a를 제거했기 때문에 print() 함수로 출력되지 않음

파이썬 대소문자 구분 예제

In [ ]:
a = "python"
print(a)

python

In [ ]:
PRINT(a)

NameError: name 'PRINT' is not defined

비교 연산자 예제

In [ ]:
X = 3
Y = 4
print(X<Y)
print(X>Y)

True
False

X=3
Y=4
Z=5 

X<Y or Z<Y <br>
true or false <br>
=> 참 <br>

in, not in 예제

In [ ]:
print(1 in[1,2,3])

True

In [ ]:
print(1 not in[1,2,3])

False

In [ ]:
print('a' in ('a', 'b', 'c'))

True

In [ ]:
print('j' in 'python')

False

if 문 예제

In [ ]:
a = 3
if a>1:
    print("a is greater than 1")

a is greater than 1

In [ ]:
a = 0
if a>1:
    print("a is greater than 1")

- 조건문이 참일 경우에만 하위 코드 실행

for 문 예제

In [ ]:
for apple in [1,2,3]:
    print(apple)

1
2
3

while문 예제

In [ ]:
treeHit = 0
while treeHit < 10:
    treeHit = treeHit +1
    print("나무를 %d번 찍었습니다." % treeHit)
    if treeHit == 10:
        print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [ ]:
treehit = 1
while treehit <= 10:
    print("나무를 %d번 찍었습니다." % treehit)
    if treehit == 10:
        print("나무 넘어갑니다.")
    treehit = treehit + 1

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [ ]:
TreeHit = 0
TreeBranch = 10
print("나무가지가 %d개 남았습니다" % TreeBranch)
while TreeHit < 10:
    TreeHit = TreeHit +1
    TreeBranch = TreeBranch -1
    print("나무를 %d번 찍었습니다." % TreeHit)
    print("나무가지가 %d개 남았습니다" % TreeBranch)
    if TreeHit == 10:
        print("Success")
    if TreeBranch == 0:
        print("Success")

나무가지가 10개 남았습니다
나무를 1번 찍었습니다.
나무가지가 9개 남았습니다
나무를 2번 찍었습니다.
나무가지가 8개 남았습니다
나무를 3번 찍었습니다.
나무가지가 7개 남았습니다
나무를 4번 찍었습니다.
나무가지가 6개 남았습니다
나무를 5번 찍었습니다.
나무가지가 5개 남았습니다
나무를 6번 찍었습니다.
나무가지가 4개 남았습니다
나무를 7번 찍었습니다.
나무가지가 3개 남았습니다
나무를 8번 찍었습니다.
나무가지가 2개 남았습니다
나무를 9번 찍었습니다.
나무가지가 1개 남았습니다
나무를 10번 찍었습니다.
나무가지가 0개 남았습니다
Success
Success

- for문은 리스트, 튜플, 문자열과 함께 쓰이는 반복문
- while문은 조건문과 함께 쓰이는 반복문

함수
- 함수는 인자를 입력받아 결과를 도출하는 목적으로 사용
함수 만들기 예제

In [ ]:
def add(a,b):
    return a + b

In [ ]:
add(3,4)

7

파이썬이 객체 지향이라고 부르는 이유?

In [ ]:
a=10
print(id(a)) #a변수 메모리 주소 확인

2547132754512

In [ ]:
b=10
print(id(b)) #b변수 메모리 주소 확인

2547132754512

# 자료형

정수
- 정수는 int로 나타냄
- 파이썬 정수의 크기는 32bit(=4byte)

정수 확인 예제

In [ ]:
a=123

In [ ]:
print(type(a))

<class 'int'>

In [ ]:
print((9).bit_length()) #1001

4

부동소수점(실수)
- 부동소수점(실수)은 float으로 나타냄

부동소수점(실수) 확인 예제

In [ ]:
b=-1.23

In [ ]:
print(type(b))

<class 'float'>

2진수 확인 예제

In [ ]:
print(bin(255))

0b11111111

8진수 확인 예제

In [ ]:
print(oct(255))

0o377

16진수 확인 예제

In [ ]:
print(hex(255))

0xff

사칙연산 예제

In [ ]:
a=3
b=4
print(a+b)
print(a-b)
print(a*b)
print(a/b)

7
-1
12
0.75

x의 y제곱을 나타내는 **연산자

In [ ]:
a=3
b=4
print(a**b)

81

나눗셈 후 몫을 반환하는 //연산자

In [ ]:
a=7
b=3
print(a//b)

2

나눗셈 후 나머지를 반환하는 % 연산자

In [ ]:
a=7
b=3
print(a%b)

1

**33page 6번째 줄 글자 깨짐 -> 문자열끼리 덧셈, 문자와 숫자의 곱셈이 가능

'," 따옴표와 큰따옴표는 차이점 없음(사용자 마음)<br>
문자열에 큰따옴표(") 포함시키기 예제

In [ ]:
say = '"Python is very easy." he says'
print(say)

"Python is very easy." he says

In [ ]:
say2 = "\"Python is very easy.\" he says"
print(say2)

"Python is very easy." he says

특수기호 표기 예제

In [ ]:
money='1000\'

SyntaxError: EOL while scanning string literal (4276765220.py, line 1)

In [ ]:
money='1000\\'
print(money)

1000\

- 특수 기호의 역할을 하지 못하게 하고 싶을 때 \를 앞에 붙여줌

여러 줄인 문자열을 변수에 대입하고 싶은 경우

1. 줄을 바꾸기 위한 이스케이프 문자 사용

In [ ]:
multiline = "Life is short\nYou need python"
print(multiline)

Life is short
You need python

-읽기가 불편하고 줄이 길어지는 단점 존재

2. 연속된 작은 따옴표 세 개(''') or 큰 따옴표 세 개(""") 사용

In [ ]:
multiline="""
Life is short
You need python
"""
print(multiline)

Life is short
You need python

문자열 합치기 예제

In [ ]:
head = "Pyrhon"
tail = " is fun!"
print(head + tail)

Pyrhon is fun!

문자열 곱하기 예제

In [ ]:
a = "Python"
print(a*2)

PythonPython

문자열 곱하기 응용 예제

In [ ]:
print("=" * 30)
print("My Program")
print("=" * 30)

==============================
My Program
==============================

문자열 길이 구하기 예제

In [ ]:
a="Life is too short"
print(len(a))

17

문자열 인덱싱, 슬라이싱 예제

In [ ]:
a = "Life is too short. You need Python"
print(a[0:4])
print(a[:4])
print(a[10:])

Life
Life
o short. You need Python

a="Pithon" -> "Python" 예제

In [ ]:
a="Pithon"
print(a[0]+'y'+a[2:])

Python

문자열 포매팅 예제

In [ ]:
number=10
day="three"
print("I eat %d apples. so I was sick for %s days." %(number, day))
#숫자 변수, 문자열 : 두 개 이상의 변수 대입

I eat 10 apples. so I was sick for three days.

%d와 %를 같이 사용하는 예제

In [ ]:
print("Error is %d%%" %98)

Error is 98%

**33page 3번째줄 글자 깨짐 -> "**<br>
**33page 5번째줄 글자 깨짐 -> 소숫점**

정렬과 공백 예제

In [ ]:
print("%s" %"hi")
print("%10s" %"hi")
print("%-10s" %"hi") #10칸으로 나옴

hi
        hi
hi

소수점 표현하기 예제

In [ ]:
print("%f" %3.42134234)
print("%0.4f" %3.42134234)
print("%10.4f" %3.42134234) #오른쪽 정렬

3.421342
3.4213
    3.4213

format() 함수를 이용한 포매팅 예제

In [ ]:
print("{} {} {}".format(11,22,33))

number=10
day="three"
print("I eat {1} apples. so I was sick for {0} days." .format(number, day))
#순서를 이용하여 포매팅 가능

print("I eat {number} apples. so I was sick for {day} days." .format(number=10, day=3))
#변수 이름을 이용하여 포매팅 가능

11 22 33
I eat three apples. so I was sick for 10 days.
I eat 10 apples. so I was sick for 3 days.

f문자열 포매팅 예제

In [ ]:
name = "홍길동"
age = 19
print(f'나의 이름은 {name}입니다. 나이는 {age+1}입니다.')

나의 이름은 홍길동입니다. 나이는 20입니다.

문자열 갯수 세기 예제(count)

In [ ]:
a="hobby"
print(a.count("b"))

2

문자 위치 알려주기 예제1(find)

In [ ]:
a="Python is the best choice"
print(a.find("b"))
print(a.find("j"))
#문자열 중 문자 b가 처음 나온 위치를 반환, 찾는 문자나 문자열이 없을 경우 -1을 반환

14
-1

문자 위치 알려주기 예제2(index)

In [ ]:
a="Life is too short"
print(a.index("t"))
print(a.index("j"))
#문자열 중 문자 t가 처음 나온 위치를 반환, 찾는 문자나 문자열이 없을 경우 에러를 반환

8

ValueError: substring not found

문자열 삽입 예제(join)

In [ ]:
a="."
print(a.join('abcd'))

a.b.c.d

In [ ]:
a=":"
print(a.join(["a","b","c","d"]))

a:b:c:d

-join() 함수의 입력으로 리스트 사용 가능

소문자를 대문자로 바꾸기 예제(upper)

In [ ]:
a="hi"
print(a.upper())

HI

대문자를 소문자로 바꾸기 예제(lower)

In [ ]:
a="HI"
print(a.lower())

hi

왼쪽 공백 지우기 예제(Istrip)

In [ ]:
a="    hi"
print(a.lstrip())

hi

오른쪽 공백 지우기 예제(rstrip)

In [ ]:
a="  hi   "
print(a.rstrip())

  hi

**44page 1번째 줄 글자 깨짐 -> 문자열**

양쪽 공백 지우기 예제(strip)

In [ ]:
a="  hi   "
print(a.strip())

hi

문자열 바꾸기 예제(replace)

In [ ]:
a="Life is too short"
print(a.replace("Life","Your leg"))

Your leg is too short

문자열 나누기 예제(split)

In [ ]:
a="Life is too short"
print(a.split())

['Life', 'is', 'too', 'short']

In [ ]:
b="a:b:c:d"
print(b.split(":"))

['a', 'b', 'c', 'd']

- split() 함수는 괄호 안에 아무것도 넣어주지 않을 경우 공백을 기준으로 나눔
- split() 함수의 괄호 안에 특정 값이 있는 경우 특정 값을 기준으로 나눔