<a href="https://colab.research.google.com/github/hwas2/Python_study/blob/master/3%EC%9D%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 자료형

리스트
- 여러 요소값을 담을 수 있는 자료형
- \[\](대괄호)를 이용하여 생성

리스트 생성 예제

In [ ]:
a=[1,2,3]

In [ ]:
print(a)

[1, 2, 3]

리스트 인덱싱 예제

In [ ]:
a=[1,2,3]

In [ ]:
print(a[0])
print(a[0]+a[2])
print(a[-1])

1
4
3

In [ ]:
b=['Life','is','too','short']
print(b[0]+b[1])

Lifeis

In [ ]:
a=[1,2,3,['a','b','c']]
print(a[0])
print(a[-1])
print(a[3])
print(a[-1][0]) #-1번째 자리인 [a,b,c]중 0번째 자리인 a 추출
print(a[-1][1])
print(a[-1][2])

1
['a', 'b', 'c']
['a', 'b', 'c']
a
b
c

숫자를 ''로 문자로 만들어 주면 글자+숫자 가능

In [ ]:
a=[1,2,['a','b',['life','is']]]
print(a[2])
print(a[2][2])
print(a[2][2][0])

['a', 'b', ['life', 'is']]
['life', 'is']
life

리스트 슬라이싱 예제

In [ ]:
a=[1,2,3,4,5]
print(a[0:2])

[1, 2]

In [ ]:
b=a[:2]
print(b)
c=a[2:]
print(c)

[1, 2]
[3, 4, 5]

In [ ]:
a=[1,2,3,['a','b','c'],4,5]
print(a[2:5])
print(a[3])
print(a[3][:2])

[3, ['a', 'b', 'c'], 4]
['a', 'b', 'c']
['a', 'b']

리스트 합치기/반복 예제

In [ ]:
a=[1,2,3,]
b=[4,5,6]
print(a+b)
print(a*2)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3]

list 요소 수정 예제

In [ ]:
a=[1,2,3]
print(a[2])
a[2]=4
print(a)
a[1:2]=['a','b','c']
print(a)
a[0]=['a1','a2','a3']
print(a)

3
[1, 2, 4]
[1, 'a', 'b', 'c', 4]
[['a1', 'a2', 'a3'], 'a', 'b', 'c', 4]

리스트 요소 제거 예제

- 위의 a리스트를 그대로 활용

In [ ]:
print(a)

[['a1', 'a2', 'a3'], 'a', 'b', 'c', 4]

In [ ]:
a[1:3]=[]
print(a)

[['a1', 'a2', 'a3'], 'c', 4]

In [ ]:
del a[1]
print(a)

[['a1', 'a2', 'a3'], 4]

In [ ]:
del a[0:2]
print(a)

[]

리스트 관련 함수

리스트 요소 추가 예제

In [ ]:
a=[1,2,3]
a.append(4)
print(a)
a.append([5,6])
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4, [5, 6]]

리스트 정렬 예제
- sort는 오름차순, 내림차순은 sort 후 reverse 사용

In [ ]:
a=[1,4,3,2]
a.sort()
print(a)

[1, 2, 3, 4]

In [ ]:
a=['abc','123','you need python']
a.sort()
print(a)

['123', 'abc', 'you need python']

In [ ]:
a=['abc',123,'you need python'] #자료의 형태가 달라 비교할 수 없다
a.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

- 숫자형 요소와 문자열 요소가 합쳐진 경우 정렬되지 않음

In [ ]:
a=['abc','123','You need python']
a.sort() #대문자는 소문자보다 먼저 정렬됨
print(a)

['123', 'You need python', 'abc']

리스트 뒤집기

In [ ]:
a=['a','c','b']
a.reverse()
print(a)

['b', 'c', 'a']

리스트 요소 찾기 예제

In [ ]:
a=[1,2,3]
a.index(3) #3의 위치 반환

2

In [ ]:
a.index(1)

0

In [ ]:
a.index(0) #리스트에 없는 경우 오류 발생

ValueError: 0 is not in list

리스트 요소 삽입
- 하나만 가능

In [ ]:
a=[1,2,3]
a.insert(0,4) #0번 자리에 4를 넣는다
print(a)

[4, 1, 2, 3]

In [ ]:
a.insert(3,5)
print(a)

[4, 1, 2, 5, 3]

In [ ]:
a.insert(0,['a','b'])
print(a)

[['a', 'b'], 4, 1, 2, 5, 3]

리스트 요소 제거 remove
- 요소 위치가 아닌 값을 기준으로 제거

In [ ]:
a=[1,2,3,1,2,3]
a.remove(3)
print(a)
a.remove(3)
print(a)

[1, 2, 1, 2, 3]
[1, 2, 1, 2]

리스트 요소 끄집어내기 pop
- 리스트 맨 마지막 요소를 돌려주고 그 요소는 삭제

In [ ]:
a=[1,2,3]
a.pop()

3

In [ ]:
print(a)

[1, 2]

In [ ]:
a=[1,2,3]
a.pop(1)

2

In [ ]:
print(a)

[1, 3]

리스트 갯수 세기

In [ ]:
a=[1,2,3,1]
a.count(1)

2

리스트 확장 extend
- a.extend([4,5])는 a+[4,5}와 동일하다

In [ ]:
a=[1,2,3]
a.extend([4,5]) #변하지 않음
print(a)

[1, 2, 3, 4, 5]

In [ ]:
a=[1,2,3]
b=[4,5]
print(a+b) # 보여주기식 합치기
c=a+b
print(c) # 이렇게 새로 만들어야 변하지 않음

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [ ]:
a=[1,2,3]
b=[4,5]
a.extend(b)
print(a)

[1, 2, 3, 4, 5]

**  61page 첫 번째 줄 글자 깨짐 -> 튜플**

튜플 생성 예제
- 1개의 요소만을 가질 때는 뒤에 ,를 반드시 붙여야 함
- ()괄호 생략 가능

In [ ]:
t1=()
print(t1)
t2=(1)
print(t2)
print(type(t2))
t2=(1,)
print(t2)
print(type(t2))

()
1
<class 'int'>
(1,)
<class 'tuple'>

In [ ]:
t3=(1,2,3)
print(t3)
print(type(t3))
t4=1,2,3 #괄호를 명시해주지 않으면 튜플이 된다
print(t4)

(1, 2, 3)
<class 'tuple'>
(1, 2, 3)

In [ ]:
t5=('a','b',('ab','cd'))
print(t5)

('a', 'b', ('ab', 'cd'))

In [ ]:
t6=(1,2,[3,4])
print(t6) #튜플 안에 리스트가 들어갈 수 있지만 잘 사용하지 않음
#리스트 안 튜플은 많이 사용

(1, 2, [3, 4])

- 리스트와 유사하나, 튜플은 읽기 전용
- 튜플은 요소를 지우거나 변경 불가 -> 안전하고 빠르게 사용 가능하다
- 실제 프로그램에서는 변경되는 변수가 많아 리스트를 더 많이 사용

튜플 요소 제거

In [ ]:
t1=(1,2,'a','b')
del t1[0] #튜플 요소 제거되지 않는다

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
t1[0]='c' #튜플 요소 수정되지 않는다

TypeError: 'tuple' object does not support item assignment

튜플 인덱싱

In [ ]:
t1=(1,2,'a','b')
print(t1[0])
print(t1[3])

1
b

튜플 슬라이싱

In [ ]:
t1=(1,2,'a','b')
print(t1[1:])

(2, 'a', 'b')

튜플 더하기

In [ ]:
t1=(1,2,'a','b')
t2=(3,4)
print(t1+t2)
t3=t1+t2
print(t3)

(1, 2, 'a', 'b', 3, 4)
(1, 2, 'a', 'b', 3, 4)

튜플 곱하기

In [ ]:
t1=(1,2,'a','b')
t2=(3,4)
print(t2*3)
t4=t2*3 #튜플을 곱해서 새로운 튜플 만들기 가능
print(t4)

(3, 4, 3, 4, 3, 4)
(3, 4, 3, 4, 3, 4)

튜플 길이 구하기 예제

In [ ]:
t1=(1,2,'a','b')
print(len(t1))

4

튜플의 패킹과 언패킹
- 패킹 : 한 데이터에 여러 개의 데이터를 넣는 것
 - 실습을 통해 만들어 본 리스트, 튜플 자료형이 패킹에 속함
- 언패킹 : 한 데이터에서 데이터를 각각 꺼내오는 것
  - 튜플과 리스트 둘 다 패킹, 언패킹 가능

언패킹

In [ ]:
T=(1,2,3,4,5)
a,b,c,d,e = T
print(a,b,c,d,e)
a, *b = T #a 하나와 나머지 모든 것 b
print(a,b)

1 2 3 4 5
1 [2, 3, 4, 5]

In [ ]:
a, b, *c = T
print(a,b,c)
print(type(c))

1 2 [3, 4, 5]
<class 'list'>

In [ ]:
L=[1,2,3,4,5]
a,b,c,d,e = L
print(a,b,c,d,e)

1 2 3 4 5

리스트 -> 튜플 변경

In [ ]:
L=[1,2,3,4,5]
T=tuple(L)
print(T)

(1, 2, 3, 4, 5)

튜플 -> 리스트 변경

In [ ]:
T=(1,2,3,4,5)
L=list(T)
print(L)

[1, 2, 3, 4, 5]

딕셔너리
- 사전
- key:value 형식으로 이루어진 자료형

딕셔너리 생성 예제

In [ ]:
dic = {'name':'pey','phone':'0119993323','birth':'1118'}
print(dic)

{'name': 'pey', 'phone': '0119993323', 'birth': '1118'}

In [ ]:
a={1:'hi'}
print(a)

{1: 'hi'}

In [ ]:
a={'a':[1,2,3]}
print(a)

{'a': [1, 2, 3]}

딕셔너리 키, 값 추가 예제

In [ ]:
a={1:'a'}
a[2]='b'
print(a)

{1: 'a', 2: 'b'}

In [ ]:
a['name']='pay'
print(a)
a[3]=[1,2,3]
print(a)

{1: 'a', 2: 'b', 'name': 'pay'}
{1: 'a', 2: 'b', 'name': 'pay', 3: [1, 2, 3]}

함수를 만들어서 키와 값으로 활용하기

In [ ]:
def add(a,b):
    return a+b
def sub(a,b):
    return a-b

action={0:add,1:sub}

In [ ]:
action[0](4,5) #0번 키를 호출, 값에 4,5를 대입한 결과 출력

9

딕셔너리를 만드는 다른 방법(함수 이용)

In [ ]:
a=dict(one=1,two=2)
print(a)

{'one': 1, 'two': 2}

In [ ]:
b=dict([('one',1),('two',2)])
print(b)

{'one': 1, 'two': 2}

In [ ]:
c=dict([['one',1],['two',2]])
print(c)

{'one': 1, 'two': 2}

In [ ]:
keys=['one','two','three']
values=(1,2,3)
zip(keys,values)
d=dict(zip(keys,values))

In [ ]:
print(d)

{'one': 1, 'two': 2, 'three': 3}

딕셔너리에서 키 제거 예제

In [ ]:
a={1: 'a', 2: 'b', 'name': 'pay', 3: [1, 2, 3]}
print(a)

{1: 'a', 2: 'b', 'name': 'pay', 3: [1, 2, 3]}

In [ ]:
del a[1]
print(a)

{2: 'b', 'name': 'pay', 3: [1, 2, 3]}

딕셔너리에서 키를 이용하여 값을 얻기

In [ ]:
a={1:'a',2:'b'}
print(a[1])
print(a[2])

a
b

키 리스트 만들기

In [ ]:
a = {'name':'pey','phone':'0119993323','birth':'1118'}
print(a.keys())
print(type(a.keys()))
list(a.keys())

dict_keys(['name', 'phone', 'birth'])
<class 'dict_keys'>

['name', 'phone', 'birth']

In [ ]:
for k in a.keys():
    print(k)

name
phone
birth

값 리스트 만들기

In [ ]:
a = {'name':'pey','phone':'0119993323','birth':'1118'}
print(a.values())

dict_values(['pey', '0119993323', '1118'])

키, 값 쌍 얻기

In [ ]:
a= {'name':'pey','phone':'0119993323','birth':'1118'}
print(a.items())

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

딕셔너리 모두 지우기

In [ ]:
a= {'name':'pey','phone':'0119993323','birth':'1118'}
a.clear()
print(a)

{}

get() 함수를 사용하여 값 출력하기

In [ ]:
a= {'name':'pey','phone':'0119993323','birth':'1118'}
print(a.get('name'))
print(a.get('phone'))

pey
0119993323

get()함수 사용과 미사용 차이

In [ ]:
a= {'name':'pey','phone':'0119993323','birth':'1118'}
print(a.get('nokey'))
print(a['nokey'])

None

KeyError: 'nokey'

딕셔너리 안에 키가 없는 경우 정해둔 값을 가져오기

In [ ]:
a= {'name':'pey','phone':'0119993323','birth':'1118'}
print(a.get('foo'))
print(a.get('foo','bar')) #딕셔러니 추가는 하고 싶지 않을 때

None
bar

해당 키의 존재 유무

In [ ]:
a= {'name':'pey','phone':'0119993323','birth':'1118'}
print('name'in a)
print('email'in a)

True
False

집합 set
- 여러 값을 순서 없이 그리고 중복 없이 모아 놓은 자료형
1. 중복을 허용하지 않는다.
2. 순서가 없다. -> 인덱싱X, 리스트함수나 튜플함수로 변경 후 인덱싱으로 접근

집합 생성 예제

In [ ]:
s1=set([1,2,3])
print(s1)

{1, 2, 3}

In [ ]:
s2=set("Hello")
print(s2)

{'e', 'l', 'o', 'H'}

In [ ]:
s3=set((1,2,3))
print(s3)

{1, 2, 3}

교집합

In [ ]:
s1=set([1,2,3,4,5,6])
s2=set([4,5,6,7,8,9])
print(s1 & s2)
print(s1.intersection(s2))

{4, 5, 6}
{4, 5, 6}

합집합

In [ ]:
s1=set([1,2,3,4,5,6])
s2=set([4,5,6,7,8,9])
print(s1 | s2)
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

차집합

In [ ]:
s1=set([1,2,3,4,5,6])
s2=set([4,5,6,7,8,9])
print(s1-s2)
print(s1.difference(s2))

{1, 2, 3}
{1, 2, 3}

집합에 값 1개 추가하기 add

In [ ]:
s1=set([1,2,3])
s1.add(4)
print(s1)

{1, 2, 3, 4}

집합에 값 여러 개 추가하기 update

In [ ]:
s1=set([1,2,3])
s1.update([4,5,6])
print(s1)

{1, 2, 3, 4, 5, 6}

집합에 특정 값 제거 remove

In [ ]:
s1=set([1,2,3])
s1.remove(2)
print(s1)

{1, 3}

부울(bool)
- 참과 거짓을 나타내는 자료형

비교연산자 : > < == != >= <=

논리 연산자 : and(&) or(|) not

In [ ]:
print(10==10)
print(10!=5)
print(10 ==10 and 10!=5) #둘 다 참일 경우 True
print((10 ==10) & (10!=5))
print(10 ==10 and 10==5) #and 연산자는 하나라도 거짓이면 False
print(10>5 or 10<3) #or연산자는 하나라도 참이면 True
print((10>5) | (10<3))
print(not 10<5) #not 연산자는 결과 반대로 출력

True
True
True
True
False
True
True
True

In [ ]:
if 10==10 and 10!=5:
    print("hello")

hello

# 제어문

if문

In [ ]:
money=True #True 첫글자는 대문자
if money:
    print("택시를 타고 가라")
else :
    print("걸어 가라")

택시를 타고 가라

pass

In [ ]:
pocket = ['paper','money','cellphone']
if 'money'in pocket:
    pass
else:
    print("카드를 꺼내라")

In [ ]:
pocket = ['paper','money','cellphone']
if 'money'in pocket:
    print("현금을 꺼내라")
    pass
    print("종이를 꺼내라")
else:
    print("카드를 꺼내라")

현금을 꺼내라
종이를 꺼내라

- 코드 중간에 pass 구문이 있어도 전체 코드가 실행됨

if,else 제어문

In [ ]:
pocket = ['paper','cellphone']
card=True
if 'money'in pocket:
    print("택시를 타고가라")
else:
    if card:
        print("택시를 타고가라")
    else:
        print("걸어가라")

택시를 타고가라

In [ ]:
pocket = ['paper','card','cellphone']
if 'money'in pocket:
    print("택시를 타고가라")
else:
    if 'card' in pocket:
        print("택시를 타고가라")
    else:
        print("걸어가라")

택시를 타고가라

In [ ]:
wallet = 'card'
pocket = ['paper', wallet, 'cellphone']
if 'money'in pocket:
    print("택시를 타고가라")
else:
    if 'card' in pocket:
        print("택시를 타고가라")
    else:
        print("걸어가라")

택시를 타고가라

elif 제어문

In [ ]:
pocket = ['paper','cellphone']
card=True
if 'money'in pocket:
    print("택시를 타고가라")
elif card:
        print("택시를 타고가라")
else:
        print("걸어가라")

택시를 타고가라

In [ ]:
card=False
pocket = ['paper','card','cellphone']
if 'money'in pocket:
    print("택시를 타고가라")
elif card:
        print("택시를 타고가라")
else:
        print("걸어가라")

걸어가라

변수에는 값이 저장<br>
'문자열'<br><br>
A=1 -> A:변수<br>
'A' -> A:문자열<br>
- 문자열은 기본적으로 True

In [ ]:
pocket = ['paper','card','cellphone']
if 'money'in pocket:
    print("택시를 타고가라")
elif 'card':
        print("택시를 타고가라")
else:
        print("걸어가라")

택시를 타고가라

if문 한 줄 구조로 만들기 예제(만들기 전 기존 구조)

In [ ]:
pocket=['paper','money','cellphone']
if 'money' in pocket:
    pass
else:
    print("카드를 꺼내라")

if문 한 줄 구조로 만들기 예제 - 줄바꿈X

In [ ]:
pocket=['paper','money','cellphone']
if 'money' in pocket:     pass
else: print("카드를 꺼내라")

while문

In [ ]:
treeHit=0
while treeHit<10:
    treeHit=treeHit+1
    print("나무를 %d번 찍었습니다." %treeHit)
    if treeHit==10:
        print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

while 강제로 빠져나가기 break

In [ ]:
coffee=10
money=300
while money:
    money=money-10
    print("남은 돈은 %d입니다." %money)
    print("돈을 받았으니 커피를 줍니다.")
    coffee=coffee-1
    print("남은 커피의 양은 %d입니다." %coffee)
    if not coffee:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break

남은 돈은 290입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9입니다.
남은 돈은 280입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8입니다.
남은 돈은 270입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7입니다.
남은 돈은 260입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6입니다.
남은 돈은 250입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5입니다.
남은 돈은 240입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4입니다.
남은 돈은 230입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3입니다.
남은 돈은 220입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2입니다.
남은 돈은 210입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1입니다.
남은 돈은 200입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

자료형 참, 거짓 판별 예제

In [ ]:
if [1,2,3]: print("true")
if {'value','paper'}: print("true")
if 200: print("true")
if 'card': print("true")
if []: print("true")
if '': print("true")

true
true
true
true

while문 처음으로 되돌아가기 continue

In [ ]:
a=0
while a<10:
    a=a+1
    if a%2==0:
        continue
    print(a)

1
3
5
7
9

for문

In [ ]:
test_list=['one','two','three']
for i in test_list:
    print(i)

one
two
three

In [ ]:
test_list=['one','two','three']
for i in test_list:
    print("say")
    print("hello")
#변수 i를 활용하지 않아도 리스트 안의 요소가 다 소모될 때까지 반복문은 계속 진행된다

say
hello
say
hello
say
hello

In [ ]:
marks=[90,25,67,45,80]
number=0
for mark in marks:
    number=number+1
    if mark>=60:
        print("%d번 학생은 합격입니다." %number)
    else:
        print("%d번 학생은 불합격입니다." %number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

for문(continue)

In [ ]:
marks=[90,25,67,45,80]
number=0
for mark in marks:
    number=number+1
    if mark<60:
        continue
    print("%d번 학생 축하합니다. 합격입니다." %number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [ ]:
marks=[90,25,67,45,80]
number=0
for mark in marks:
    number=number+1
    if mark<60:
        pass
    else:
        print("%d번 학생 축하합니다. 합격입니다." %number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

range() 예제

In [ ]:
a=range(10)
print(a)

range(0, 10)

In [ ]:
print(list(a))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
a=range(1,11)
print(list(a))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

range()를 이용한 for문

In [ ]:
marks=[90,25,67,45,80]
for number in range(len(marks)): #len은 요소 개수, len(marks)=5
    if marks[number]<60:
        continue
    print("%d번 학생 축하합니다. 합격입니다." %(number+1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [ ]:
marks=[90,25,67,45,80]
passed = []
for i in range(len(marks)): #len은 요소 개수, len(marks)=5
    if marks[i]>=60:
        passed.append(i+1)
a=",".join(str(_) for _ in passed)
print(a,'번 학생 축하합니다. 합격입니다.')

1,3,5 번 학생 축하합니다. 합격입니다.